
.browseImg{
  height: 40px;
  width: 100%;
  margin-top: 5%;

}

#fileToUpload{
    width: 500px;
}

#turnModel1, #turnModel2, #turnModel3{
	margin-top: 3px;
	margin-bottom: 20px;
}

#modelone, #modelTwo{
	margin-bottom: 20px;
}	


.clearText, .controlButtons{
    width: 200px;
}


