
canvas {
  background-color: black;
  width: auto;
  height: auto;
}

.browseImg{
  height: 40px;
  width: 100%;
  margin-top: 5%;

}

#fileToUpload{
  margin-left: 16%;
}

#turnModel1, #turnModel2{
	margin-top: 3px;
	margin-bottom: 20px;
}

#modelone, #modelTwo{
	margin-bottom: 20px;
}	



